body {
            
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        h1 {
          font-family: Arial;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            text-shadow: 0 5px 5px rgba(0, 0, 0, 10);
            background-color: #00FFFF;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
p1{
  font-size: 15px;
  font-family: "sans-serif";
  color: #333;
}

p{
  
  font-size: 15px;
  font-family: "Arial";
  color: #333;
}
/* Style the task menu container */
.task-menu {
    display: inline-block;
    position: absolute; /* To position the menu options */
    cursor: pointer;
right: 66px;
}

/* Style the vertical ellipsis */
.vertical-ellipsis {
    font-size: 20px; /* Adjust the size as needed */
    line-height: 1; /* Center vertically if necessary */
}

/* Style the menu options container */
.menu-options {
    display: block; /* Always show the menu options */
    position: fixed;
    top: 0; /* Position below the menu icon */
    left: 0;
    background-color: #fff; /* Background color for the options */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
  z-index: 1;
}

  



      /* Add these styles to your existing CSS */

/* Form container */
form {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Text input field */
form input[type="text"],
form input[type="time"] {
 
    width: 100%; /* By default, the input field takes 100% width */
    max-width: 250px; /* Set a maximum width */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;


}

/* Submit button */
form button[type="submit"] {
    background-color: rgb(0,124,255);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for the submit button */
form button[type="submit"]:hover {
    background-color: rgb(0,90,250);
}

.task-list-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Add some additional styles for the task list items */

li:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}

.edit-button,
.edit-alarm-button,
.delete-button {
    background-color: rgb(0,124,220);
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover,
.edit-alarm-button:hover,
.delete-button:hover {
    background-color: rgb(0,90,250); /* Change button color on hover */
  }